*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #C6FFDD, #FBD786, #f7797d);
}
.card{
    position: relative;
    width: 200px;
    height: 220px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: .5s;
}
.card:hover{
    width: 350px;
    height: 410px;
    transition: .5s;
}

.img{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 150px;
   height: 150px; 
   border-radius: 20px;
   transition: .5s;
   overflow: hidden;
}
.active{
    margin-top: -70px;
    transition: .5s;
    width: 250px;
    height: 250px;
}
.img img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details{
    padding: 20px;
    text-align: center;
    width: 100%;
    transition: .5s;
    transform: translateY(125px);
}
.card:hover .content .details{
    transform: translateY(0px);
}
.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.6;
}
.card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0px 30px;
}
.card .content .details .data h3{
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}
.card .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    color: #999;
}
.card .content .details .battons{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
.card .content .details .battons button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 0.8em;
    font-weight: 500;
    background: #f7797d;
    color: white;
    cursor: pointer;
}
.card .content .details .battons button:nth-child(2){
    border: 1px solid #999; 
    color: #999;
    background: white;
}

.messages{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -50%;
    opacity: 0;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #C6FFDD, #FBD786, #f7797d);
    border-radius: 20px;
    border: 1px solid white;
    transition: .9s;
}
.message {
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 20px;
    color: #555;
}
.message-button{
    position: relative;
    max-width: 250px;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 5px;
    color: #555;
    cursor: pointer;
    left: 100%;
    transform: translateX(-130%);
}
.open{
    top: 50%;
    opacity: 1;
}
div[contenteditable] {
    border: 1px solid white;
    width: 400px;
  }